<form class="ui large form segment">
    <h3 class="ui header">
      <div class="add-link-btn" (click)="toggleFormDisplay()">
        + Add a Link
      </div>
    </h3>
  <div [ngClass]="{'add-link': showForm}">
    <div class="field">
      <label for="title">Title:</label>
      <input name="title" id="title" #newtitle />
    </div>
    <div class="field">
      <label for="link">Link:</label>
      <input name="link" id="link" #newlink />
    </div>
    <a (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">
      Submit link </a>
  </div>
</form>
